{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Employees</title>

    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

            </div>
        </nav>
        <!-- Page content-->


        <div class="container">
            <div class="text-center mt-5">

                {% block content %}
                    <table class="table table-bordered .table-sm">
                        <thead>
                            <tr>
                                <td class="d-flex justify-content-center" colspan="3">Employee</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="fw-bold">First Name</td>
                                <td>{{ employee.first_name }}</td>
                                <td rowspan="4"><img src="{{ employee.photo.url }}" alt="No image"></td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Last name</td>
                                <td>{{ employee.last_name }}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Date of Birth</td>
                                <td>{{ employee.date_birth }}</td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Email</td>
                                <td>{{ employee.email }}</td>
                            </tr>

                        <tbody>
                            {% for employee in employees %}
                                <tr>
                                    <td>{{ employee.first_name }}</td>
                                    <td>{{ employee.email }}</td>
                                    <td>{{ employee.date_birth }}</td>
                                    <td><img src="{{ employee.photo.url }}" alt="No image"></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                {% endblock %}
            </div>
        </div>

    </body>
</html>